<!DOCTYPE html>
<html lang="en">
<head>
  {% include "app/_v2_head.html" %}
  <title>{{ booking.booking_display }} · {{ company_name }}</title>
</head>
<body>
  <div id="root"></div>
  <script>
    window.__PAGE__ = {
      {% include "app/_v2_page_data.html" %}
      booking: {{ booking|tojson }},
      deliveries: {{ deliveries|tojson }},
      printVoucherUrlBase: {{ url_for('print_voucher', transaction_id=0)|tojson }}
    };
  </script>
  <script src="{{ url_for('static', filename='js/pages/ds-shell.js') }}"></script>
  <script src="{{ url_for('static', filename='js/pages/yarn-booking-detail.js') }}"></script>
</body>
</html>
