<!DOCTYPE html>
<html lang="en">
<head>
  {% include "app/_v2_head.html" %}
  <title>Choose Business · {{ company_name }}</title>
</head>
<body>
  <div id="root"></div>
  <script>
    window.__PAGE__ = {
      {% include "app/_v2_page_data.html" %}
      yarnUrl: {{ url_for('business_choose', business_type='yarn')|tojson }},
      kiryanaUrl: {{ url_for('business_choose', business_type='kiryana')|tojson }},
      hardwareUrl: {{ url_for('business_choose', business_type='hardware')|tojson }}
    };
  </script>
  <script src="{{ url_for('static', filename='js/pages/ds-shell.js') }}"></script>
  <script src="{{ url_for('static', filename='js/pages/yarn-business-select.js') }}"></script>
</body>
</html>
