<!DOCTYPE html>
<html lang="en">
<head>
  {% include "app/_v2_head.html" %}
  <title>Edit {{ v_type.replace('_', ' ').title() }} · {{ company_name }}</title>
</head>
<body>
  <div id="root"></div>
  <script>
    window.__PAGE__ = {
      {% include "app/_v2_page_data.html" %}
      vType: {{ v_type|tojson }},
      txn: {{ txn|tojson }},
      parties: {{ parties|tojson }},
      items: {{ items|tojson }},
      returnTo: {{ return_to|tojson }}
    };
  </script>
  <script src="{{ url_for('static', filename='js/pages/ds-shell.js') }}"></script>
  <script src="{{ url_for('static', filename='js/pages/yarn-edit-transaction.js') }}"></script>
</body>
</html>
