<!DOCTYPE html>
<html lang="en">
<head>
  {% include "app/_v2_head.html" %}
  <title>Profit &amp; Capital · {{ company_name }}</title>
</head>
<body>
  <div id="root"></div>
  <script>
    window.__PAGE__ = {
      {% include "app/_v2_page_data.html" %}
      dateFrom: {{ date_from|tojson }},
      dateTo: {{ date_to|tojson }},
      profit: {{ profit|tojson }},
      capital: {{ {"total_in": capital.total_in, "total_out": capital.total_out, "net_capital": capital.net_capital}|tojson }},
      pdfUrl: {{ url_for('report_pdf', report_name='profit')|tojson }},
      excelUrl: {{ url_for('report_excel', report_name='profit')|tojson }}
    };
  </script>
  <script src="{{ url_for('static', filename='js/pages/ds-shell.js') }}"></script>
  <script src="{{ url_for('static', filename='js/pages/yarn-report-profit.js') }}"></script>
</body>
</html>
