<!DOCTYPE html>
<html lang="en">
<head>
  {% include "app/_v2_head.html" %}
  <title>Customers &amp; Suppliers · {{ company_name }}</title>
</head>
<body>
  <div id="root"></div>
  <script>
    window.__PAGE__ = {
      {% include "app/_v2_hardware_page_data.html" %}
      partyType: {{ party_type|tojson }},
      parties: {{ parties|tojson }},
      editPartyUrlBase: {{ url_for('hardware_edit_party', party_id=0)|tojson }},
      deletePartyUrlBase: {{ url_for('hardware_delete_party', party_id=0)|tojson }}
    };
  </script>
  <script src="{{ url_for('static', filename='js/pages/ds-shell.js') }}"></script>
  <script src="{{ url_for('static', filename='js/pages/hardware-parties.js') }}"></script>
</body>
</html>
