<!DOCTYPE html>
<html lang="en">
<head>
  {% include "app/_v2_head.html" %}
  <title>Subscriptions · Khatay Admin</title>
</head>
<body>
  <div id="root"></div>
  <script>
    window.__PAGE__ = {
      {% include "app/_v2_admin_page_data.html" %}
      companies: {{ companies|tojson }},
      overdueCount: {{ overdue_count|tojson }},
      dueSoonCount: {{ due_soon_count|tojson }},
      companyDetailUrlBase: {{ url_for('admin_company_detail', company_id=0)|tojson }}
    };
  </script>
  <script src="{{ url_for('static', filename='js/pages/ds-shell.js') }}"></script>
  <script src="{{ url_for('static', filename='js/pages/admin-subscriptions.js') }}"></script>
</body>
</html>
