<!DOCTYPE html>
<html lang="en">
<head>
  {% include "app/_v2_head.html" %}
  <title>Set New Password · Khatay Online</title>
</head>
<body>
  <div id="root"></div>
  <script>
    window.__PAGE__ = {
      {% include "app/_v2_auth_page_data.html" %}
      resetPasswordUrl: {{ url_for('reset_password', token=token)|tojson }},
      username: {{ username|default(none)|tojson }}
    };
  </script>
  <script src="{{ url_for('static', filename='js/pages/ds-shell.js') }}"></script>
  <script src="{{ url_for('static', filename='js/pages/yarn-reset-password.js') }}"></script>
</body>
</html>
